@font-face {
  font-family: 'Erno2024Font';
  src: url('Erno2024.woff2') format('woff2'),
       url('Erno2024.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Erno2024Font', sans-serif;
}

img#ernstig {
  max-width: 100%;
  height: auto;
  display: block; /* Dit zorgt ervoor dat de afbeelding zijn eigen lijn krijgt en gecentreerd kan worden */
  margin: 0 auto; /* Centreert de afbeelding binnen zijn container */
}

#text-container {
  max-width: 564px; /* De maximale breedte van de tekstcontainer */
  margin: 0 auto; /* Centreert de tekstcontainer */
}

@media (max-width: 564px) {
  #text-container {
    width: 90%; /* Geeft wat ruimte aan de zijkanten op kleinere schermen */
  }
}


html,body,div,span,h1,h2,h3,h4,h5,h6,p,address,img,tr,th,td,header{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:110%;
  vertical-align:baseline;
  background:transparent
}


html,body{ 
  line-height:1;
  width:100%;
  height:100%;
  background:#c6d3cb;
  font-size:14px;
}

a:link{ 
  text-decoration: none; 
  color: rgb(1, 65, 1);
}

a:visited{ 
  text-decoration: none;
  color: rgb(1, 65, 1);
}

a:hover{ 
  text-decoration: none; 
  color: rgb(255, 255, 255);
  background-color: rgb(1, 65, 1);
}

a:active {
  text-decoration: none; 
  color: rgb(158, 30, 30);
}
